<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Records Form</title>
    <th:block th:replace="admin/adminLayout :: bootstrapCore"></th:block>
</head>
<body>

<!--region include here-->

<!--endregion-->

<div id="page-wrapper">
    <!--
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tables</h1>
        </div>
    </div>
    -->

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <th:block th:utext="#{caption.recordManag}" />
                </div>
                <div class="panel-body"><div class="table-responsive">
                <table class="table" >
                    <thead>
                    <tr>
                        <th><a type="button"><th:block th:text="#{btn.add}"/></a></th>
                        <th th:text="#{lb.recordType}"></th>
                        <th th:text="#{caption.reason}"></th>
                        <th th:text="#{lb.recordDate}"></th>
<!--                        <th>StaffNo</th>-->
                        <th th:text="#{lb.empName}"></th>
                        <th>Email</th>
<!--                        <th>DepartNo</th>-->
                        <th th:text="#{caption.Department}"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody><th:block th:if="${listRecords!=null}">
                    <th:block th:each="record : ${listRecords}">
                        <tr class="odd gradeX">
                            <td class="center"><button><th:block th:text="${record.getKey()}" /></button></td>
                            <td class="center" th:text="${record.getValue().getType()}"></td>
                            <td class="center">X</td>
                            <td class="center">X</td>
                            <td class="center">X</td>
                            <td class="center">X</td>
                            <td class="center">X</td>
                            <td class="center"><button><th:block th:text="#{btn.drop}"/></button></td>
                        </tr>
                    </th:block>
                    </th:block></tbody>
                </table>
                </div></div>


            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">

        <!-- /.col-lg-6 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Record By Department
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
</body>
</html>