<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Records Form</title>
    <th:block th:replace="admin/adminLayout :: bootstrapCore"></th:block>
</head>
<body>

<!--region include here-->
<nav th:replace="admin/adminLayout :: amNav"></nav>
<!--endregion-->

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header"><th:block th:utext="#{caption.recordManag}" /> </h4>
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div>
                    <form action="#" th:action="@{/admincp/addRecord}" th:object="${employee}" method="post">
                        <input type="hidden" hidden="hidden" th:name="id" th:value="${empDetail.getId()}" />
                        <input type="hidden" hidden="hidden" th:name="departId" th:value="${empDetail.getDepartId()}" />
                        <div class="navbar-right" style="margin-inline-end: auto;"> <button class="btn btn-outline btn-default"><th:block th:text="#{btn.add}"/></button></div>
                    </form>
                </div>
                <div class="panel-heading">
                    <label><th:block th:text="${empDetail.getName()}"/> </label>
                </div>
                <div class="panel-body"><div class="table-responsive">
                <table class="table" >
        <th:block th:if="${listRecords==null}" th:text="#{caption.emptyList}" />
        <th:block th:if="${listRecords!=null}">
            <th:block th:if="${listRecords.size()==0}" th:text="#{caption.emptyList}" />
                <th:block th:if="${listRecords.size()>0}">
                    <thead>
                    <tr>
                        <th th:utext="#{caption.IndexonList}">
                         </th>
                        <th th:text="#{lb.recordType}"></th>
                        <th th:text="#{caption.reason}"></th>
                        <th th:text="#{lb.recordDate}"></th>
                        <th th:text="${departments.get(empDetail.getDepartId())}"></th>
                    </tr>
                    </thead>
                    <tbody><th:block th:if="${listRecords!=null}">
                    <th:block th:each="record, state : ${listRecords}">
                        <tr class="odd gradeX">
                            <td class="center"><form action="/admincp/editRecords" method="post">
                                <input type="hidden" hidden="hidden" th:name="id" th:value="${record.getKey()}" />
                                <button><th:block th:text="${state.count}" /></button>
                            </form></td>
                            <td class="center">
                                <th:block th:if="${record.getValue().getType()} == true" ><span><th:block th:text="#{lb.bonUp}" /></span></th:block>
                                <th:block th:if="${record.getValue().getType()} == false" ><span><th:block th:text="#{lb.dislaw}" /></span></th:block>
                            </td>
                            <td class="center">
                                <span><textarea><th:block th:text="${record.getValue().getReason()}"/></textarea></span>
                            </td>
                            <td class="center"> <span><th:block th:text="${#dates.format(record.getValue().date, 'dd-MM-yyyy')}"/>
                            </span> </td>

                            <td class="center"><button class="btn btn-outline btn-danger"><th:block th:text="#{btn.drop}"/></button></td>
                        </tr>
                    </th:block>
                    </th:block></tbody>
                </th:block>
        </th:block>
                </table>
                </div></div>


            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">

        <!-- /.col-lg-6 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Staff Record Statistic
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
</body>
</html>